<h2>{{t 'emails.registration.title'}}</h2>
<br><br>
<div class="vclGridRow">
  <div class="vclGridSpan-7 fullWidthAt800px">
    {{t 'emails.registration.dear'}}
    </br>
    </br>
    {{t 'emails.registration.thanks'}}: <a href="{{activationUrl}}">{{activationUrl}}</a>
  </div>
</div>
