<h1 class="vclAlignCentered">{{t 'emails.common.admin_greeting'}}</h1>

<h2 class="vclAlignCentered"> {{t "emails.inventoryLow.inventoryLevel"}} {{offer.inventoryLevel}} </h2>

<p class="vclAlignCentered">
  <a href="{{abLink}}">{{t "emails.common.openInAdmin"}}</a>
</p>
